input[type="number"] {
	width: 3.5em;
	height: 2em;
	display: inline-block;
	background-color: rgba(255,255,255,0.5) !important;
	border: none;
	border-radius: 0.25rem;
	box-shadow: none !important;
	font-size: 1.5em;
	font-family: "myriad-pro", sans-serif;
	font-weight: 400;
	padding: 0;
	padding-left: 0.5em;
}

input[type="number"]:hover {
	background-color: rgba(255,255,255,0.6) !important;
}

input[type="number"]:focus {
	background-color: rgba(255,255,255,0.75) !important;
	border: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

#monitor {
	overflow: hidden;
	position: relative;
	border-radius: 0.25em;
}

#grid {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}

#grid path {
	fill: none;
	stroke: white;
	stroke-width: 1px;
	stroke-opacity: 0.25;
}

#grid path.mon-diag {
	stroke-opacity: 0.75;
}

#diagonal {
	position: absolute;
	top: calc(50% - 1em);
	left: calc(50% - 1.5em);
	width: 3em !important;
}

#aspect-ratio {
	position: absolute;
	top: 0;
	right: 0.25em;
	z-index: 1;
	font-size: 4em;
	font-weight: 100;
	font-family: "myriad-pro", sans-serif;
}

#dpi-container {
	position: absolute;
	top: 0;
	left: 0.25em;
	z-index: 1;
	font-size: 4em;
	font-weight: 100;
	font-family: "myriad-pro", sans-serif;
}

#width {
	position: absolute;
	top: 1.5em;
	left: calc(50% - 2.25em);
}

#height {
	position: absolute;
	top: calc(50% - 1.25em);
	left: 1.5em;
}

#buttons {
	position: absolute;
	top: 6.5em;
	right: 1em;
	width: 7em;
    overflow: scroll;
    max-height: calc(100% - 8.8rem);
}

.res-button {
	font-size: 0.9em;
	position: relative;
	display: block;
	float: right;
	text-align: right;
	background-color: rgba(255,255,255,0.5);
	padding: 0.5em;
	margin-bottom: 0.25em;
	cursor: pointer;
	font-family: "myriad-pro", sans-serif;
	color: black;
	border-radius: 0.125em;
	width: 7em;
}

.res-button:hover {
	background-color: rgba(255,255,255,0.75);
	color: black;
}

.res-ripple {
	color: black;
}

#disclaimer {
	display: none;
	font-family: "myriad-pro", sans-serif;
	font-weight: 400;
	position: absolute;
	right: 0;
	bottom: 0;
	white-space: nowrap;
	overflow: visible;
	text-align: right;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem 0;
    background: rgba(255, 255, 255, 0.75);
    line-height: 1;
}

#permalink {
	color: white;
	font-family: "myriad-pro", sans-serif;
	position: absolute;
	bottom: -1.5rem;
	right: 0;
}

#permalink-anchor {
	color: #999;
}
#permalink-anchor:hover {
	color: #333;
}

.dots .top-bar {
	background: #4390DF;
}

.dots .content {
	background-color: rgba(67,144,223,0.75);
	position: relative;
}

#content-row {
	margin: 0;
}
