
* {
    font-family: "myriad-pro";
    font-feature-settings: "kern";
    transition: all 0.125s ease;
}

body {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 2rem;
    z-index: 10;
}

.top-bar ul {
    background-color: transparent;
}

.top-bar a {
    color: #eee;
}

.top-bar a:hover {
    color: rgba(200, 200, 200, 1);
}

.top-bar-logo {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: solid 1px #eee;
    display: inline-block;
}

.top-bar-title {
    margin-right: 0.5rem;
}

.top-bar-title h1 {
    vertical-align: middle;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0.25rem 0 0 0.25rem;
    font-family: "warnock-pro";
}

.top-bar-left {
    height: 3rem;
}

.menu-icon-container {
    float: right;
    padding: 0.5rem 0;
}

.menu > li:not(.menu-text) > a {
    padding: 1rem 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "warnock-pro";
    font-weight: 200;
}

.container {
    max-width: 1024px;
    margin-top: 5rem;
}

.portfolio .top-bar {
    background-color: #16A765;
}

h2.page-heading {
    line-height: 1;
}

.portfolio .content {
    max-width: 1024px;
}

.portfolio .content * {
    padding: 0 4rem;
}

.portfolio .item-container {
    padding: 0;
    border-radius: 0.25rem;
    background-color: rgba(22,167,101,0.75);
}

.portfolio .content a {
    padding: 0;
}

.portfolio .content img {
    padding: 0;
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid black;
}

.portfolio h3 {
    line-height: 1;
    margin: 1rem 0 0 0;
}

.portfolio .date {
    line-height: 1;
    margin: 0;
    font-family: 'myriad-pro';
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
}

.portfolio .content a {
    color: inherit;
}

.portfolio .content p {
    padding-bottom: 1.5rem;
}

.content {
    margin-bottom: 4rem;
    border-radius: 0.25rem;
}
