<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ title }}</title>
<link rel="icon" href={{ url_for('static', filename='img/favicon.png') }}>

{% for file in sheets %}
<link rel="stylesheet" href={{ url_for('static', filename='css/' + file) }}>
{% endfor %}

<script src="https://use.typekit.net/ack6awr.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

{% for file in scripts %}
<script src={{ url_for('static', filename='js/' + file) }}></script>
{% endfor %}
